vti_encoding:SR|utf8-nl
vti_author:SR|AP_Ncash-PC\\AP_Ncash
vti_modifiedby:SR|AP_Ncash-PC\\AP_Ncash
vti_timelastmodified:TR|30 Oct 2013 21:56:03 -0000
vti_timecreated:TR|18 Oct 2013 23:26:08 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|SiteNCASH/index.html SiteNCASH/empresa.html SiteNCASH/ead.html SiteNCASH/parceiros.html SiteNCASH/opiniao.html SiteNCASH/contato.html SiteNCASH/cursos.html
vti_nexttolasttimemodified:TW|30 Oct 2013 21:52:23 -0000
vti_cacheddtm:TX|30 Oct 2013 21:56:03 -0000
vti_filesize:IR|9276
vti_cachedlinkinfo:VX|S|../images/bg1.jpg S|../images/topbanner.png S|../images/menu_bg.jpg S|../images/brown_bg.jpg S|../images/brown_bottom_bg.jpg S|../images/green_bg.jpg S|../images/green_bottom_bg.jpg S|../images/blue_bg.jpg S|../images/blue_bottom_bg.jpg S|../images/gallery_num_bg.jpg S|../images/footer_bg.jpg S|../images/topbanner3.png S|../images/topbanner2.png
vti_cachedsvcrellinks:VX|FSUS|SiteNCASH/images/bg1.jpg FSUS|SiteNCASH/images/topbanner.png FSUS|SiteNCASH/images/menu_bg.jpg FSUS|SiteNCASH/images/brown_bg.jpg FSUS|SiteNCASH/images/brown_bottom_bg.jpg FSUS|SiteNCASH/images/green_bg.jpg FSUS|SiteNCASH/images/green_bottom_bg.jpg FSUS|SiteNCASH/images/blue_bg.jpg FSUS|SiteNCASH/images/blue_bottom_bg.jpg FSUS|SiteNCASH/images/gallery_num_bg.jpg FSUS|SiteNCASH/images/footer_bg.jpg FSUS|SiteNCASH/images/topbanner3.png FSUS|SiteNCASH/images/topbanner2.png
